// colours
$blue: #43569F;
$pink: #E74A77;
$green: #3FAB90;
$blue--light: #2E7CBF;
$purple: #AB78B3;
$white: #FEFEFE;
$black: #000;
$grey: #666;
$grey--light: #D8D8D8;

.color--blue {
    color: $blue !important;
}