.admin-dashboard {
	&__menu{
		padding-top: 4rem;
		padding-bottom: 4rem;
		ul {
			font-size: 2.4rem;
			display: flex;
			justify-content: center;
			li {
				cursor: pointer;
				padding: 1rem;
				border: 2px solid $pink;
				color: $pink;
				&.active {
					background-color: $pink;
					color: $white;
				}
			}
		}
	}
	&__table {
		.icon {
			width: 20px;
			height: 20px;
			margin: 0 auto;
			cursor: pointer;
		}
	}
}

.row-volunteer {
	td {
		background-color: $purple--25;
	}
	&.need-approval td {
		background-color: $purple--50;
	}
}